<div *ngIf="loading" class="alert alert-warning" role="alert">
    <strong>Cargando...</strong> por favor espere
</div>


<div *ngIf="!loading" class="card mb-12" style="max-width: 1024px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="detallePelicula.poster_path | urlimage" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{detallePelicula.title}}</h5>
                <p class="card-text">{{detallePelicula.overview}}</p>
                <p class="card-text"><small class="text-muted">Lanzamiento: {{detallePelicula.release_date}}</small></p>
                <p class="card-text"><small class="text-muted">Popularidad: {{detallePelicula.popularity}}</small></p>
                <button (click)="regresar()" class="btn btn-outline-danger"> Regresar</button>
            </div>
        </div>
    </div>
    <hr>

</div>