<div class="card mb-12" style="max-width: 1024px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img [src]="detallePelicula.poster_path | urlimage: detallePelicula.poster_path" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{detallePelicula.title}}</h5>
                <p class="card-text">{{detallePelicula.overview}}</p>
                <p class="card-text"><small class="text-muted">{{detallePelicula.release_date}}</small></p>
                <p class="card-text"><small class="text-muted">Popularidad: {{detallePelicula.popularity}}</small></p>
            </div>
        </div>
    </div>
</div>


<hr>

<h5>
    La página anterior, es decir, si lo llame del HOME, debe de regresar al HOME, si la llame del buscador, debe de regresarme al BUSCADOR!
</h5>