<div class="row">
    <div class="col-12 col-md-4 col-lg-4" *ngFor="let pelicula of items">
        <div class="card" style="width: 18rem;">
            <img [src]="pelicula.backdrop_path | urlimage: pelicula.poster_path" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pelicula.title}}</h5>
                <!-- <p class="card-text">{{pelicula.overview}}</p> -->
            </div>
            <div class="card-body">
                <div (click)="verdetallepelicula(pelicula.id)" class="btn-link card-link"> Ver detalle</div>
            </div>
        </div>
    </div>
</div>