<div class="row">
    <div class="col-12 col-md-4 col-lg-4" *ngFor="let pelicula of items">
        <div class="card" style="width: 18rem;">
            <img [src]="pelicula.backdrop_path | urlimage" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{pelicula.title}}</h5>
            </div>
            <div class="card-body">
                <button (click)="verdetallepelicula(pelicula.id)" class="btn btn-block btn-outline-info"> Ver detalle</button>
            </div>
        </div>
    </div>
</div>