<h3>
    Peliculas en la cartelera de cines actual
</h3>
<div class="row">
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
</div>
<hr>
<h3>
    Peliculas populares
</h3>
<div class="row">
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
</div>
<hr>
<h3>
    Peliculas para niños más populares
</h3>
<div class="row">
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
</div>
<hr>
<h5>
    Al hacer click en cualquier película, debe de llevarme a una pantalla que me permita ver informaión de la película.
</h5>