<h2>

</h2>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-12 font-italic">Peliculas en la cartelera de cines actual</h1>
    </div>
</div>

<app-pelicula [items]="peliculasEnCartelera"></app-pelicula>

<hr>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-12 font-italic">Peliculas populares</h1>
    </div>
</div>

<app-pelicula [items]="peliculasPopulares"></app-pelicula>
<hr>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-12 font-italic">Peliculas para niños más populares</h1>
    </div>
</div>
<app-pelicula [items]="peliculasParaNinosPopulares"></app-pelicula>
<hr>