<h2>

</h2>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-12 font-italic">Peliculas en la cartelera de cines actual</h1>
    </div>
</div>
<div *ngIf="loadingInTheatres" class="alert alert-warning" role="alert">
    <strong>Cargando...</strong> por favor espere
</div>
<app-pelicula *ngIf="!loadingInTheatres" [items]="peliculasEnCartelera"></app-pelicula>

<hr>
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-12 font-italic">Peliculas populares</h1>
    </div>
</div>
<div *ngIf="loadingPopulares" class="alert alert-warning" role="alert">
    <strong>Cargando...</strong> por favor espere
</div>
<app-pelicula *ngIf="!loadingPopulares" [items]="peliculasPopulares"></app-pelicula>
<hr>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-12 font-italic">Peliculas para niños más populares</h1>
    </div>
</div>
<div *ngIf="loadingMostPopularKids" class="alert alert-warning" role="alert">
    <strong>Cargando...</strong> por favor espere
</div>
<app-pelicula *ngIf="!loadingMostPopularKids" [items]="peliculasParaNinosPopulares"></app-pelicula>
<hr>