<h3>
    Poder buscar peliculas
</h3>
<div class="row">
    <div class="col-10">
        <input class="form-control" type="text" placeholder="Buscar" aria-label="Buscar">
    </div>
    <div class="col-2">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </div>
</div>
<hr>

<h3>
    Deben de aparecer de forma elegante con la imagen del poster
</h3>
<div class="row">
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
    <div class="col-4">
        <app-pelicula></app-pelicula>
    </div>
</div>
<hr>

<h5>
    Al hacer click, llevarme a ver la información de la película
</h5>